<div class="menu-container">
    <button routerLink="/live" mat-flat-button color="primary" class="menu-btn">
        <mat-icon>tablet</mat-icon>
        <div class="title">Live mode</div>
    </button>

    <button routerLink="/debug" mat-flat-button color="primary" class="menu-btn">
        <mat-icon>list</mat-icon>
        <div class="title">Debug List</div>
    </button>

    <button routerLink="/settings" mat-flat-button color="primary" class="menu-btn">
        <mat-icon>settings</mat-icon>
        <div class="title">Settings</div>
    </button>
</div>
