@import '~typeface-roboto/index.css';
@import '~font-awesome/css/font-awesome.min.css';
@import '../assets/material-icons.css';

@import './variables';
@import './mixins';

@import './chart';
@import './stream';

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

// disable iOS double-tap-to-zoom
* { touch-action: pan-y; }
